*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.poppins-medium {
    font-family: "Poppins", system-ui;
    font-weight: 500;
    font-style: normal;
}

html{
    font-family:"Poppins" ;
}

.text-blue{
    color: blue;
}

form{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0px;
    
}
fieldset{
    border-radius: 5px;
}

.login-but{
    width: 300px;
    height: 40px;
    background-color: blue;
    border-radius: 5px;
    color: white;
}

h1{
    text-align: center;
    margin-top: 10%;
}
input{
    width: 300px;
    height: 40px;
    padding: 20px;
    border-radius: 5px;
}

.mt-3{
    margin: 10px 20px 20px 20px;
}
a{
    font-size: 12px;
}
.text-gray{
    color: gray;
}
